.btn, a.btn {
	display: inline-block;
	padding: 0.4em 1em;
	border: solid 1px #444;
	color: #444;
	text-transform: uppercase;
	//.scaffold-color(@primary);
}
.btn:hover,.btn:active {
	text-decoration: none;
	background: #e5e5e5;
	color: black;
}
.btn-block {
	display: block;
	text-align: center;
}
.btn-margin {
	margin: 0 1em 1em 0em;
}
