body, html {
  min-height: 100vh;
  margin: 0; padding: 0;
}


.layout-row, .layout-column {
	display: flex;
}

.layout-column {
	flex-direction: column;
}

.flex {
	flex: 1;
}

.order-first {
  order: -1;
}

.order-last {
  order: 999;
}

.justify-right {
  text-align: right;
  justify-content: flex-end;
}

@media @desktop-media {
  .desktop-layout-row, .desktop-layout-column {
    display: flex;
  }

  .desktop-layout-column {
    flex-direction: column;
  }
}
