body {
  color: @text;

  font-size: 14px;
  line-height: 21px;

  font-family: @textfont; 
  //proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif; //'Lato', sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  line-height: 1.25;
  margin: 12px 0;
  font-weight: bold;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 38px;
  color: @primary;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
  font-weight: 200;
}
hr {
  border: none;
  border-top: solid 1px @mute;
}
p {
  margin: 10px 0;
}
p, pre {
  & + h1, & + h2, & + h3 {
    margin-top: 1.2em;
  }
}

a, a:focus, a:hover {
  color: @link;
}

main {
  display: block;
}

.muted {
  color: @mute;
}

a.rel-link {
  color: mix(@link, @text, 30%);
  text-decoration: none;

  &:hover, &:focus {
    color: @link;
  }
}

pre, pre[class*="language-"] {
  margin: 1em 0;  
  border-radius: 4px;
  overflow: auto;
  line-height: 1.2;
  font-size: 14px;
  padding: 6px 18px;
  padding-top: 21px;
  position: relative;

  &:before {
    display: block;
    content: "Code";
    color: @mute;
    background: mix(@primary, white, 15%);
    padding: 3px;
    font-family: @textfont;
    font-size: 10px;
    position: absolute;
    top: 0; left: 0; right: 0;
  }
}

code, pre {
  font-family: @codefont;
  font-weight: 300;  
  background: mix(@primary, white, 5%);  
}
pre, pre code {
  font-family: @prefont;
}

@media (max-width: 600px) {
  h1 {
    font-size: 36px;
  }
  pre {
    font-size: 10px;
  }
}

h1:first-child {
  margin-top: 1em;
}
