body {
  color: @text;

  font-size: 16px;
  line-height: 24px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; //'Lato', sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  line-height: 1;
  margin-top: 1.8em;
  margin-bottom: 0.5em;
  font-weight: 700;
}

h1 {
  font-size: 56px;
  color: @primary;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 21px;
}

p {
  hyphens: auto;
}

a, a:focus, a:hover {
  color: @primary;
}

main {
  display: block;
}

.muted {
  color: @mute;
}

a.rel-link {
  color: @text;
  text-decoration: none;

  &:hover, &:focus {
    //font-weight: bold;
    color: black;
  }
}

pre, pre[class*="language-"] {
  margin: 2em;  
  border-radius: 4px;
  padding: 6px 18px;
  overflow: auto;
  line-height: 1.2;
  font-size: 14px;
}

code, pre {
  font-family: courier, monaco, consolas, monospace;
  font-weight: 300;  
  background: mix(@primary, white, 5%);  
}

@media (max-width: 600px) {
  h1 {
    font-size: 36px;
  }
  pre {
    font-size: 10px;
  }
}
