.cover {
  color: rgba(white, 0.9);
  background: $primary;

  h1 {
    line-height: 1;
    margin-top: 1em;
    font-size: 3em;
    text-align: center;
    color: white;
  }
  a {
    color: white; 
  }
}
