.page {
  display: flex;
  justify-content: space-between;
}

.body {
  flex: 0 0 71%;
  flex: 0 0 calc(73% - 1em);
  min-width: 0;
}

.aside {
  flex: 0 0 25%;
  flex: 0 0 calc(27% - 1em);
  min-width: 0;
}

.aside a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.aside p br { display: none; }

@media (max-width: $mobile-max) {
  .page {
    display: block;
  }
}
