$primary: #0c377b;
$alt: #d84528;
$primary-dark: darken(desaturate($primary, 10%),10%);
$primary-light: desaturate(mix($primary, white, 10%), 50%);

$desktop-min: 640px;
$mobile-max: $desktop-min - 1px;

@import "article";
@import "btn";
@import "container";
@import "cover";
@import "footer";
@import "grid";
@import "header";
@import "highlight";
@import "media";
@import "img";
@import "page";
@import "prev-next";
@import "section";
@import "table";
@import "toc";
@import "typography";
