.navbar { 

  font-size: 12px;
  }

.navbar-img { 
  
  background: red;
  height: 30px;
  }

.navbar-a { 

  vertical-align: middle;
  display: inline-block;
  margin: 0 0 16px 20px; 

  border-bottom: solid 4px transparent;

  color: inherit;

  letter-spacing: 1px; 
  text-transform: uppercase;
  text-decoration: none;  
  }

.navbar-a:hover { 
  border-bottom-color: fade(@primary,50%);  
  text-decoration: none;
  }

.navbar-a.active { 
  border-bottom-color: @primary;  
  }

.navbar-right { 
  float: right;
  }