// = Colors
@primary:   #de0000;
@secondary: #ffff00;

// = Fonts
@baseFont: Lato, 'sans-serif'; 
@titleFont: 'Lobster', cursive; 

// = Helpers
@import "../components/lesshat/lesshat.less";


@import "../styles/a.less";
@import "../styles/align.less";
@import "../styles/body.less";
@import "../styles/btn.less";
@import "../styles/card.less";
@import "../styles/clearfix.less";
@import "../styles/document-list.less";
@import "../styles/h.less";
@import "../styles/img.less";
@import "../styles/input.less";
@import "../styles/loading.less";
@import "../styles/navbar.less";
@import "../styles/page.less";
@import "../styles/row.less";
@import "../styles/tag.less";
