<div class="hero-unit hero-primary">
  <div class="image"
       style="background-image:url(images/hero-pillars.jpg);"></div>
  <h1>Apps</h1>
  <p>
      Aplicacions web i mòbil.
  </p>
</div><!-- end .hero -->

<div class="container-fluid">
  <br>
  <div class="row-fluid">
    <div class="span2 phone-span1">
      <h1 class="pull-right">
        <a href="#/">
          <i class="icon-chevron-sign-left"></i>
        </a>
      </h1>
    </div>
    <div class="span10 phone-span3">
      <h1>Aplicacions</h1>
      <hr>
      <markdown>
## Aplicacions a mida
Fem aplicacions a mida, 
o et fem el mateniment de la que app que ja tens.

#### Web i mòbil
Utilitzem les tecnologies mes modernes 
que permeten programar tant aplicacions web,
com aplicacions mòbil.
Ens basem en tecnologies HTML5 + CSS3 + JS
que funcionen en tots els dispositius moderns
i s'adapten a tots els tamanys de finestra
(prova-ho amb aquesta pàgina).
</markdown>

<resource-list-icon style='display:block;margin-bottom:15px;'
  resources="resources"
  search="tag:web|tag:mobile"
></resource-list-icon>

<markdown>
#### El dissenyador l'esculls tu
En el disseny de la pàgina web pots usar
qualsevol dels dissenys que t'oferim,
o bé pots usar els teus propis dissenyadors.
Les aplicacions són de fet pàgines web,
construides modularment,
de forma que qualsevol disseñador 
pot crear els seus dissenys 
sense necessitar programar.

#### Amb Servidor
Creem la part del servidor (el *backend*) 
de la teva aplicació. 
En els nostres ultims dissenys 
utilitzem Ruby 
i ho conectem a la app amb REST.
Tant mateix també hem fet treballs amb Java i PHP.

</markdown>

<resource-list-icon style='display:block;margin-bottom:15px;'
  resources="resources"
  search="tag:server"
></resource-list-icon>

<markdown>

#### Alta productivitat i mantenibilitat
Escollim eines amb alta productivitat,
però que al mateix temps fan fàcil el seu manteniment.
L'objectiu es que, un cop tinguis la aplicació,
tu mateix puguis actualitzar-la, 
o trobis fàcilment gent qualificada per a la tasca.

## Prototipus en 2 setmanes
Necessites provar una idea de forma ràpida?
Coneixes el [Lean](http://en.wikipedia.org/wiki/Lean_Startup)
i el vols posar en pràctica?
Pensa en una idea senzilla, 
explica-nos-la amb la màxima confidencialitat,
i nosaltres dissenyem un plà per validar-la 
el més ràpidament possible.

Si ens portes unes pantalles dibuixades
i una aplicació raonablament senzilla,
et farem un prototipus funcional en dues setmanes.
      </markdown>

      <h2>Vols començar?</h2>
      <p>
        Preguntans com podem col·laborar.
      </p>
      <p>
        <a href="#/contact" class="btn btn-success btn-huge">
              Contacta'ns
              &nbsp;<i class="icon-double-angle-right"></i>
        </a>
      </p>
    </div><!-- end .span10 -->
  </div><!-- end .row-fluid -->
</div><!-- .container-fluid -->
</section>