<br>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 phone-span1">
      <h1 class="pull-right">
        <a href="#/">
          <i class="icon-chevron-sign-left"></i>
        </a>
      </h1>
    </div>
    <div class="span10 phone-span3">
      <h1>Contact me</h1>
      <hr>
      <h3>Send me a message:</h3>
      <form name="sendForm">
        <div class="row-fluid">
          <!-- email -->
          <div class="control-group span6" 
               ng-class="{error: sendForm.email.$invalid}">
            <label>Email:</label>
            <input type="email" name="email" ng-model="email" 
                   placeholder="your@email.address" 
                   class="input-block-level" required>
            <span ng-show="sendForm.email.$error.required" class="help-inline"
                  >Please, write your email.</span>
            <span ng-show="sendForm.email.$error.email" class="help-inline"
                  >Check your email address.</span>
          </div>
          <!-- end email -->
          <!-- name -->
          <div class="control-group span6" 
               ng-class="{error: sendForm.name.$invalid}">
            <label>Nom:</label>
            <input type="text" name="name" ng-model="name" 
                   placeholder="your name" 
                   class="input-block-level" required>
            <span ng-show="sendForm.name.$error.required" class="help-inline">
                Please, write your name.</span>
          </div>
          <!-- end name -->
        </div>
        <label>Message:</label>
        <textarea ng-model="message" placeholder="your message for me..."
                  class="input-block-level" rows="5"></textarea>
        <br>
        <button type="submit" 
                ng-disabled="sendForm.$invalid || sent"
                class="btn btn-primary btn-large"
                ng-click="send()">Send</button>
      </form>
      <div class="collapse" ng-class="{in: sent}">
        <br>
        <div class="alert alert-success">
          <h4>Message sent!</h4>
          <p>Your message have been sent successfully.
            Please, add
            <a href="mailto:david.rodenas@gmail.com">david.rodenas@gmail.com</a>
            to your contact list. 
            If you do not receive any message shortly, 
            please, write me an email directly.
          </p>
          <p>
            <button class="btn btn-success" ng-click="clear()">Dismiss</button>
          </p>
        </div>
      </div><!-- end .collapse -->
    </div>
  </div>
</div>
