<div class="container-fluid">
  <br>
  
  <div class="row-fluid">
     <div class="span2 phone-span1">
      <h1 class="pull-right">
        <a href="#/courses">
          <i class="icon-chevron-sign-left"></i>
        </a>
      </h1>
    </div><!-- end .span -->
    <div class="span10 phone-span3">
      <h1>{{course.title}}</h1>
      <span>{{step.title}}</span>
      <hr>
    </div>
  </div>
  
	<div class="row-fluid">

	  <div class="span2 phone-span1"></div>
	  <div class="span10 phone-span3">
	      <markdown text="body"></markdown>
	  </div>


	</div><!-- end .row-fluid -->
  <div class="row-fluid">
    <a ng-show="next" ng-href="/slides/{{course.basename}}/{{next}}"></a>
    <a ng-show="prev" ng-href="/slides/{{course.basename}}/{{prev}}"></a>
  </div>

</div><!-- end .container -->

