<div class="hero-unit hero-primary">
  <div class="image"
       style="background-image:url(images/hero-cosmic.jpg);"></div>
  <h1>Data</h1>
  <p>
      La base de dades.
  </p>
</div><!-- end .hero -->

<div class="container-fluid">
  <br>
  <div class="row-fluid">
    <div class="span2 phone-span1">
      <h1 class="pull-right">
        <a href="#/">
          <i class="icon-chevron-sign-left"></i>
        </a>
      </h1>
    </div>
    <div class="span10 phone-span3">
      <h1>Base de dades</h1>
      <hr>
      <markdown>
## El backend de la teva app
Fem la integració amb la base de dades que necessites,
o el manteniment de la que app que ja tens.

#### Elecció de la base de dades
Cada aplicació i organització té uns requeriments 
i necessita una base de dades adequada 
T'ajudarem a escollir la base de dades que 
creixi amb la teva app i que millor encaixi amb la
teva organització.

#### Disseny i consultes
Et dissenyem l'esquema de la base de dades
que millor s'adapti a les consultes que tinguis que fer.

#### Posta en marxa i implantació
Busquem el millor proveïdor tecnològic per a les teves
necessitats. 
Procurem que siguin sistemes SaaS
on es paga per ús
i t'estalviï costos quan el volum sigui més reduït.
L'objectiu: mantenir els costos per sota dels ingressos sempre.

#### Creació de consultes d'anàlisi
T'ajudem a crear les consultes més complexes d'anàlisi de dades.
Podràs extreure conclusions de totes les dades que hi tens
emmagatzemades.

## Optimització 
Optimitzem les consultes crítiques de la teva aplicació. 

#### Reducció del temps i recursos d'SQL
Reduïm el temps que necessiten les consultes SQL.
En alguns casos hem aconseguit reduir consultes d'hores a dècimes de segon.

#### Migrem a NoSQL
Les avantatges del NoSQL són molt clares:
gran velocitat, abaratiment de costos de manteniment, gran escalabilitat
(capacitat per tractar volums immensos de dades).
T'ajudem a fer la migració a aquests sistemes,
o fins i tot si és convenient, 
a crear un sistema hibrid per les parts més crítiques. 

## Tecnologies
Treballem amb tecnologies SQL i NoSQL.

#### SQL
Les tecnologies SQL són les més conegudes,
les que ofereixen més seguretat, 
però també son les més lentes, menys flexibles, i les que tenen menys escalabilitat.
</markdown>

<resource-list-icon style='display:block;margin-bottom:15px;'
  resources="resources"
  search="tag:data tag:sql"
></resource-list-icon>

<markdown>

#### Document
Són bases de dades orientades a guardar documents.
Normalment guarden objectes JSON (Javascript) 
i permeten una gran flexibilitat.
Acostumen a ser molt ràpides i tenir una gran capacitat de creixement (escalabilitat).

</markdown>

<resource-list-icon style='display:block;margin-bottom:15px;'
  resources="resources"
  search="tag:data tag:document"
></resource-list-icon>

<markdown>

#### Graf
Són bases de dades preparades per tractar amb relacions.
Permeten seguir amb molta velocitat les connexions i relacions
entre diversos elements de la base de dades 
(operacions join molt ràpides).  
</markdown>

<resource-list-icon style='display:block;margin-bottom:15px;'
  resources="resources"
  search="tag:graph tag:data"
></resource-list-icon>

<markdown>


#### Clau/Valor
Son bases de dades molt senzilles on donada una clau emmagatzemen un valor.
Les consultes acostumen a ser molt limitades, però ofereixen eines com
map/reduce que permeten fer consultes molt complexes de forma eficient.
</markdown>

<resource-list-icon style='display:block;margin-bottom:15px;'
  resources="resources"
  search="tag:data tag:key/value"
></resource-list-icon>

<markdown>


#### Big data
Moltes de les bases de dades NoSQL ja permeten tractar
volums [molt grans](#/techs?search=tag:scalable) de dades.
Les solucions big-data estan preparades per tenir volums massius de dades,
poden funcionar amb centenars de màquines i fins i tot coordinar-se amb varis data-centers alhora.
Però això també vol dir que requereixen una infraestructura molt gran, fins i tot quan hi ha poques dades.
</markdown>

<resource-list-icon style='display:block;margin-bottom:15px;'
  resources="resources"
  search="tag:data tag:big-data"
></resource-list-icon>

<markdown>


#### Cache/In-memory
Els discos són molt lents. 
Les bases de dades més ràpides usen la memòria per anar més ràpid.
Les solucions de cache i les in-memory ajuden a treballar amb la memòria de forma que es tingui el màxim rendiment.
</markdown>

<resource-list-icon style='display:block;margin-bottom:15px;'
  resources="resources"
  search="tag:data tag:cache|tag:data tag:in-memory"
></resource-list-icon>

<markdown>
      </markdown>

      <h2>Vols començar?</h2>
      <p>
        Preguntans com podem col·laborar.
      </p>
      <p>
        <a href="#/contact" class="btn btn-success btn-huge">
              Contacta'ns
              &nbsp;<i class="icon-double-angle-right"></i>
        </a>
      </p>
    </div><!-- end .span10 -->
  </div><!-- end .row-fluid -->
</div><!-- .container-fluid -->
</section>