<div class="section-person">
<div class="content content-tertiary">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="canopy">
          <h1>
            <img class="img-circle"
                 style="height:100px;width:100px; background-image:url({{person.photo}});background-size:cover;packground-position:center;"
              >
            {{person.title}}
          </h1>
          <p>
              <a href="{{person.website.url}}" target="_blank"
                 ng-show="person.website"
                 >{{person.website.name}}</a>
              <a href="{{person.company.url}}" target="_blank"
                 ng-show="person.company"
                 >{{person.company.name}}</a>
              <a href="{{person.linkedin}}"  target="_blank"
                 ng-show="person.linkedin"
                ><i class="icon-linkedin-sign"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content content-white">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <ul class="breadcrumb">
          <li><a href="#/">Home</a> <span class="divider">/</span></li>
          <li><a href="#/people">People</a> <span class="divider">/</span></li>
          <li class="active">{{person.title}}</li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <markdown>{{content}}</markdown>      
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <h4>Find other people:</h4>
        <people-search people="people"></people-search>
      </div>
    </div>
  </div>
</div>
</div>