<div class="jumbotron"><div class="container-fluid">
    <h1>
      <i class="icon-paper-clip"></i>
      Preus
    </h1>      
    <p>
      Treballem tant per hores 
      com per projecte i objectius.
      Coneix les nostres tarifes.
    </p>
</div></div><!-- end .jumbotron -->

<div class="content"><div class="container-fluid">
<ul class="breadcrumb">
  <li><a href="#/">Home</a> <span class="divider">/</span></li>
  <li class="active">Preus</li>
</ul>
  <div class="row-fluid">
    <div class="span7">
      <h3>Preu per projecte</h3>
      <p>
        El preu del projecte el determinarem amb tu.
        Nosaltres creiem en la filosofia
        <a href="http://en.wikipedia.org/wiki/Lean_manufacturing"
           target="_blank">Lean</a>
        la qual proposa crear i millorar els productes
        de forma ordenada, eliminant tot lo superflu,
        i utilitzar el consumidor final com a motor del
        dessenvolupament.
      </p>
      <p>
        T'ajudarem, t'assessorem, i ajustarem al màxim
        el projecte a les teves necessitats.
        Alguns exemples de referència son:
      </p>
      <ul>
        <li>
          <strong>Prototip d'aplicació</strong> 
          per a la seva validació: 2 setmanes.
        </li>
        <li>
          <strong>Creació de producte</strong> 
          llest per a la seva distribució: 3 mesos.
        </li>
        <li>
          <strong>Optimització</strong> 
          de parts crítiques del producte: 2 mesos.
        </li>
      </ul>      
      <br>
      <p>
        Si vols saber com podem ajudar-te en el teu projecte, 
      </p>
            <p>
              <a href="#/contact" class="btn btn-inverse">
              Demana un presupost
              &nbsp;
                <i class="icon-play-sign"></i>
              </a>                        
            </p>
    </div><!-- end .span -->
    <div class="span5"><div class="well">
      <h4>Preu per hores</h4>
      <p>
        Col·laborem amb les necessitats del teu projecte
        de forma flexible i sense compromís.
        Estarem al teu costat a mida que ens necessitis
        i oferirem totes les ajudes puntuals que necessitis.
      </p>
      <br>
      <div class="row-fluid"><div class="span11 offset1">
        <h2>
          <div class="plate plate-text"><i class="icon-time"></i></div>
          50&euro; 
          <small>/ 1 hora</small>
        </h2><br>
        <h2>
          <div class="plate plate-text"><i class="icon-calendar-empty"></i></div>
          300&euro; 
          <small>/ 1 dia</small>
        </h2><br>
        <h2>
          <div class="plate plate-text"><i class="icon-calendar"></i></div>
          1200&euro; 
          <small>/ 1 setmana</small>
        </h2>
      </div></div><!-- end .row-fluid -->
      <br><small>
      * Fem entregues de feina diàries.
      Esperem els pagaments a terminis d'una setmana.
      </small>
    </div></div><!-- .span -->
  </div><!-- .row-fluid -->
</div></div><!-- end .content -->
