<div class="content content-secondary">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="marquee">
          <h1>
            <div class="emblem emblem-inline"><i class="icon-folder-open"></i></div>
            Projects
          </h1>
          <p>
        I have participated in many projects and of many kinds:
        from my firsts BASIC programs 
        to a full stack simulation of a heterogeneous multicore 
        processor.
        Here you can find a list of some of them. 
        I will be adding projects day by day, 
        and if it is possible, 
        with all full source code available.
          </p>
          <a class="btn btn-large btn-gray pull-right" 
             href="#/contact">
            Something in mind?
              &nbsp;&nbsp;&nbsp<i class="icon-play-sign"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <ul class="breadcrumb">
          <li><a href="#/">Home</a> <span class="divider">/</span></li>
          <li class="active">Projects</li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span8">
        <project-search projects="projects" search="{{search}}"
                ></project-search>
      </div>
      <div class="span4">
        <document-tag-cloud tags="tags" collection='projects'>
        </document-tag-cloud>
      </div>
    </div>
  </div>
</div>
