<div class='card'>
  <h1>Projects</h1>
  <p>
        I have participated in many projects and of many kinds:
        from my firsts BASIC programs 
        to a full stack simulation of a heterogeneous multicore 
        processor.
        Here you can find a list of some of them. 
        I will be adding projects day by day, 
        and if it is possible, 
        with all full source code available.
  </p>
</div>
<div class='card'>
  <document-list documents="projects" 
           collection='projects' 
           search="{{search}}" 
           tags="tags"
          ></document-list>  
</div>
