<div class="content content-tertiary">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="canopy">
          <h1>
            <div class="emblem emblem-inline"><i class="icon-{{project.icon}}"></i></div>
          {{project.title}} <small>project</small>
          </h1>
          <markdown>{{project.abstract}}</markdown>
          <small><ul class="unstyled">
            <li ng-show="project.url"><strong>url</strong>: 
              <a href="{{project.url}}" target="_blank">{{project.url}}</a></li>
            <li ng-show="project.source"><strong>source</strong>: 
              <a href="{{project.source}}" target="_blank">{{project.source}}</a></li>
          </ul></small>
          <p>        
            <document-tag-list document="project" collection="projects">
            </document-tag-list>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content content-white">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <ul class="breadcrumb">
          <li><a href="#/">Home</a> <span class="divider">/</span></li>
          <li><a href="#/projects">Projects</a> <span class="divider">/</span></li>
          <li class="active">{{project.title}}</li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <markdown toc="left">{{content}}</markdown>
        <br><a href="#/projects">See all projects &rarr;</a>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span8">
        <h4>Some related projects:</h4>
        <project-brief ng-repeat="project in related"
                project="project">
          </project-brief>
        <br><a href="#/projects">See all projects &rarr;</a>
      </div>
      <div class="span4">
        <document-tag-cloud tags="tags" collection='projects'>
        </document-tag-cloud>
      </div>
    </div>
  </div>
</div>
