<div class="container-fluid">
  <br>
  
  <div class="row-fluid">
     <div class="span2 phone-span1">
      <h1 class="pull-right">
        <a href="#/">
          <i class="icon-chevron-sign-left"></i>
        </a>
      </h1>
    </div><!-- end .span -->
    <div class="span10 phone-span3">
      <h1>Resources</h1>
      <hr>
    </div>
  </div>
  
  <document-list documents="resources" 
               collection='resources' 
               search="{{search}}" 
               tag-cloud='tagCloud'
               ></document-list>  
  
</div><!-- end .container -->
