<div class="container-fluid">
  <br>
  
  <div class="row-fluid">
     <div class="span2 phone-span1">
      <h1 class="pull-right">
        <a href="#/">
          <i class="icon-chevron-sign-left"></i>
        </a>
      </h1>
    </div><!-- end .span -->
    <div class="span10 phone-span3">
      <h1>Courses</h1>
      <hr>
    </div>
  </div>
  
	<div class="row-fluid">

	  <div class="span2 phone-span1"></div>
	  <div class="span10 phone-span3">
	      <div ng-repeat="subject in subjects">
	 		<h2>{{subject.title}}</h2>

	 		<div ng-repeat="course in subject.courses">
	 			<h4>{{course.title}}</h4>
	 			<div ng-repeat="step in course.steps">
	 				<a ng-href="#/courses/{{course.basename}}/{{$index}}">{{step.title}}</a>
	 			</div>
	 		</div><!-- end each course in subject -->

	      </div><!-- end each subject -->
	  </div>


	</div><!-- end .row-fluid -->

</div><!-- end .container -->

