<br>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 phone-span1">
      <h1 class="pull-right">
        <a href="#/">
          <i class="icon-chevron-sign-left"></i>
        </a>
      </h1>
    </div>
    <div class="span10 phone-span3">
      <h1>Les tecnologies</h1>
      <hr>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2 phone-span0"></div>
    <div class="span10 phone-span4">

      <resource-search 
               resources="resources"
               tags="tags"
               search="{{search}}"
               ></resource-search>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2 phone-span1"></div>
    <div class="span10 phone-span3">
      <br>
      <h2>Vols saber més?</h2>
      <p>
            Pregunta'ns com podem col·laborar.
      </p>
      <p>
        <a href="#/contact" class="btn btn-success btn-large">
              Contacta'ns
              &nbsp;<i class="icon-double-angle-right"></i>
        </a>
      </p>
    </div>
  </div><!-- end .row -->
</div>
