app-posts-list {
  a {
    text-decoration: none;
    position: relative;

    h3 {
      color: @text;
      margin-top: 2em;
      margin-bottom: 0;
    }
    p {
      margin: 0.5em 0;
      color: mix(@text, @mute);
    }
    pre, pre[class*="language-"] {
      margin: 0.5em 0 0;
    }

    app-tag-ids-list {
      color: @mute;
      font-size: 80%;
      a.rel-link {
        color: inherit;
      }
    }

    .icon {
      position: absolute;
      top: 4px;
      left: -28px;
      color: @mute;
    }

    &:hover, &:focus, &.active {
      h3 , .icon { color: @primary; }
    }
  }
}
