app-posts-list {
  a {
    display: block;
    text-decoration: none;
    position: relative;

    h3 {
      color: @text;
      margin-top: 0.8em;
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
      color: @mute;
    }

    .icon {
      position: absolute;
      top: -2px;
      left: -28px;
      color: @mute;
    }

    &:hover, &:focus, &.active {
      h3 , .icon { color: @primary; }
    }
  }
}
