---
layout: default
---
{% assign main_tag = page.tags[0] %}
{% assign main_note = site.notes | where:"slug",main_tag | first %}

<article itemscope itemtype="http://schema.org/BlogPosting" role="article">
  <header class="cover section">
    <div class="container">
      <h1 itemprop="name">{{ page.title }}</h1>
      <meta itemprop="url" content="{{ site.baseurl }}{{ page.url }}" />
      {% if page.description %}
        <p itemprop="description">
          {{ page.description | markdownify }}
        </p>
      {% else %}
        <meta itemprop="description" content="default:page.excerpt | strip_html | strip_newlines" />
      {% endif %}
    </div>
  </header>
  <main class="section">
    <div class="container">
      <div class="page">
        <div class="body" itemprop="articleBody">
          {% include tags-list.html %}

          {% include fn-tag_notes tag=page.slug %}{% assign direct_subnotes = result %}
          <div>
          {% for note in direct_subnotes %}
            {% if prev_second_tag != note.tags[1] %}
              </div>
              <h3 id="hdr-{{ note.tags[1] | slugify }}"> 
                {% assign second_tag_note = site.notes | where:"slug",note.tags[1] | first %}
                {% if second_tag_note %}
                  {% include note-href.html note=second_tag_note %}
                {% else %}
                  {{ note.tags[1] | capitalize }}
                {% endif %}
              </h3>
              <div>
              {% assign prev_second_tag = note.tags[1] %}
            {% endif %}
            {% include note-media.html note=note %}
          {% endfor %}
          </div>

          <div itemprop="articleBody">
            {{ page.snippet | markdownify }}
            {{ content }}
          </div>

          {% assign related_updates = site.posts | where_exp:"update","update.tags contains page.slug" %}
          {% if related_updates.size > 0 %}
          <h2>Related updates</h2>
          <ul>
            {% include updates-li.html updates=related_updates %}
            <li><a href="{{ site.baseurl }}/updates">See all updates »</a></li>
          </ul>
          {% endif %}

          {% assign indirect_subnotes = site.notes 
              | where_exp:"subnote","subnote.tags contains page.slug" 
              | where_exp:"subnote","subnote.tags[0] != page.slug" 
              %}
          {% if indirect_subnotes.size > 0 %}
          <h2>Related notes</h2>
          <ul>
          {% include notes-li.html notes=indirect_subnotes %}
          </ul>
          {% endif %}

          <br>
          {% include note-prev-next.html %}


        </div>
        <div class="aside">
          {% include note--aside-info.html %}

          {% assign random_note = site.notes | where_exp:"n","n != page" | sample %}
          <h3>
            <a href="{{ site.baseurl }}{{ random_note.url }}">Random Note</a>
          </h3>

          {% assign related_notes = site.notes
              | where_exp:"note","note.tags contains main_tag" 
              | where_exp:"note","note != page"
              | sample:10 
              | sort:"title" %}
          {% if related_notes.size > 0 or main_note %}
          <h3>See also</h3>
          <ul>
            {% include notes-li.html notes=related_notes %}
            {% if main_note %}
              <li>{% include note-href.html note=main_note title="See more »" %}</li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </main>
</article>

